body, html { margin:0; padding:0; background-color:darkorchid; height:100%; }

#menubar { height:10%; width:100%; background-color:blueviolet; }
#menulist {padding-left:2vmax; display: flex; top:0px; position: fixed; z-index:1000; margin:0px; height:10%; width:auto; list-style-type: none; }
#menulist li { text-decoration: none; font-size: 1.5vmax; font-family: sans-serif; letter-spacing: 0.1vw; cursor: pointer; color: white; float: left; display: flex; text-align: center; padding: 0px 1vw; height:100%; align-items: center;}
#menulist li:hover { background-color:coral; }
#footer { position:fixed; text-align:center; font-size:1.5vh; font-family:sans-serif; width:100%; height:2%; color:white; background-color:blueviolet; bottom:0px; z-index:1000; }

#contentStart { display:none; }
#moustache1 { font-size:6vw; font-family:sans-serif; position:fixed; display:none; top:43%; left:26%; }
#moustache2 { font-size:6vw; font-family:sans-serif; position:fixed; display:none; top:43%; left:29%; }
#welcome1 { font-size:3.5vw; font-family:sans-serif; position:fixed; display:none; top:42%; left:13%; }
#welcome2 { font-size:3.5vw;font-family:sans-serif; position:fixed; display:none; top:42%; left:27%; }
#welcome3 { font-size:3.5vw; font-family:sans-serif; position:fixed; display:none; top:52%; left:17%; }
#quote { font-size:1vw; font-family:sans-serif; position:fixed; display:none; width:30vw; bottom:7%; left:5%; }
#quotetxt { font-size:1.2vw; font-family:sans-serif; font-style: italic; text-align:justify; position:relative; }
#sign { font-size:1.2vw; font-family:sans-serif; position:relative; float:right; transform:translate(50%); }
#myphoto { top:0px; right:0px; width:50%; height:100%; overflow:hidden; z-index:900; position:fixed; display:none; }
#myphoto img { height:100%; opacity:60%; float: right; }

#contentAbout { display:none; }
#aboutLeft1 { position:fixed; display:none; top:11%; left:1%; width:48%; height:28%; font-size:2vmin; background-color: orange;  }
#aboutLeft2 { position:fixed; display:none; top:40%; left:1%; width:48%; height:28%; font-size:2vmin; background-color: orangered; }
#aboutLeft3 { position:fixed; display:none; top:69%; left:1%; width:48%; height:28%; font-size:2vmin; background-color: chocolate; }
#aboutRight1 { position:fixed; display:none; top:11%; left:50%; width:24%; height:42%; font-size:2vmin; background-color: blue; }
#aboutRight2 { position:fixed; display:none; top:11%; left:75%; width:24%; height:42%; font-size:2vmin; background-color: white; }
#aboutRight3 { position:fixed; display:none; top:55%; left:50%; width:24%; height:42%; font-size:2vmin; background-color: skyblue; }
#aboutRight4 { position:fixed; display:none; top:55%; left:75%; width:24%; height:42%; font-size:2vmin; background-color: brown; }

#contentCareer { display:none; }
#careerRight1 { position:fixed; display:none; top:11%; left:51%; width:48%; height:28%; font-size:2vmin; background-color: orange;  }
#careerRight2 { position:fixed; display:none; top:40%; left:51%; width:48%; height:28%; font-size:2vmin; background-color: orangered; }
#careerRight3 { position:fixed; display:none; top:69%; left:51%; width:48%; height:28%; font-size:2vmin; background-color: chocolate; }
#careerPic{ position:fixed; display:none; top:11vh; left:1vw; width:48%; height:86%; z-index:1000; }
#careerPic img { height:100%; opacity:100%; float: left; }

#contentSkils { display:none; }
#skilsLeft1 { position:fixed; display:none; top:11%; left:1%; width:48%; height:28%; font-size:2vmin; background-color: orange;  }
#skilsLeft2 { position:fixed; display:none; top:40%; left:1%; width:48%; height:28%; font-size:2vmin; background-color: orangered; }
#skilsLeft3 { position:fixed; display:none; top:69%; left:1%; width:48%; height:28%; font-size:2vmin; background-color: chocolate; }
#skilsRight1 { position:fixed; display:none; top:11%; left:51%; width:48%; height:28%; font-size:2vmin; background-color: orange;  }
#skilsRight2 { position:fixed; display:none; top:40%; left:51%; width:48%; height:28%; font-size:2vmin; background-color: orangered; }
#skilsRight3 { position:fixed; display:none; top:69%; left:51%; width:48%; height:28%; font-size:2vmin; background-color: chocolate; }

#contentProjects {  }
#projectsTitleBar { position:fixed; top:11%; left:1%; width:98%; height: 10%; text-align:center; font-size:5vh; background-color: green; }
#projectsTitle { padding:2vh;  }
#projectsDescription { position:fixed; top:22%; left:1%; width:30%; height:75%; font-size:2vmin; background-color: red; }
#projectsSlider { position:fixed; top:22%; left:32%; width:67%; height:75%; background-color:chartreuse; }
#slider { position:fixed; top:27%; left:37%; overflow:hidden; border-radius:4px; width:57%; height:65%; box-shadow: 0 0 2vmin 2vmin #000000; }
#bannerlist { position: fixed; display:inline-block; }
#slider .element { position:fixed; width:57%; height:65%; float:left; text-align:center; overflow:hidden; }
.element img { width:100%; height:100%; object-fit:cover; }
a.control_prev, a.control_next { position:absolute; top:38%; z-index:1000; padding:5vmin 3vmin; background:#2a2a2a; color:#fff; text-decoration:none; font-size:5vmin; opacity:0.3; cursor:pointer; }
a.control_next { right:0; }


